@model OnlineStore_Exam.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details: @Model.Title</h2>

<!-- Open Content -->
<partial name="_CardProductPartial" model="@Model"></partial>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="text-muted" asp-action="Index">Back to List</a>
</div>
